<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <param name="robot_description" command="$(find xacro)/xacro '$(find vacumm_description)/urdf/vacumm7.xacro'
        --inorder " />
  
 <rosparam command="load" file="$(find vacumm_control)/config/control.yaml" />

    <!-- Load hardware interface -->
    <node name="vacumm_hw_main" pkg="vacumm_hardware" type="vacumm_hw_main" output="screen"/>

    <node name="base_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args=" spawn  
                    joint_state_controller 
                    diff_drive_controller "/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>



    <!-- <node pkg="tf" type="static_transform_publisher" name="imu_link" args="0 0 0 0 1.57 0 /imu 10"/> -->

    <node name="ros_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value="115200"/>
    </node>


  
  <!-- <node name="apply_calib" pkg="imu_calib" type="apply_calib" output="screen">
        <remap from="raw" to="/vacumm/imu"/>
        <remap from="corrected" to="/imu/data_raw"/>
        <param name="calib_file" value="$(find vacumm_navigation)/params/imu_calib.yaml" />
        <param name="calibrate_gyros" value="true" />
        
    </node> -->

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <remap from="/imu/data_raw" to="/vacumm/imu"/>
        <param name="fixed_frame" value="base_footprint" />
        <param name="use_mag" value="false" />
        <param name="publish_tf" value="true" />
        <param name="use_magnetic_field_msg" value="false" /> 
        <param name="world_frame" value="enu" />
        <!-- <param name="orientation_stddev" value="0.05" /> -->
        <!-- <param name="publish_debug_topics" value="true"/> -->
   
        
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vacumm_description)/rviz/vacumm.rviz"/>

</launch>

