<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <param name="robot_description" command="$(find xacro)/xacro '$(find vacumm_description)/urdf/vacumm7.xacro'
        --inorder " />


    <rosparam command="load" file="$(find vacumm_control)/config/control.yaml" />

    <!-- Load hardware interface -->
    <node name="vacumm_hw_main" pkg="vacumm_hardware" type="vacumm_hw_main" output="screen"/>

    <node name="base_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args=" spawn  
                    joint_state_controller 
                    diff_drive_controller "/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
            <rosparam command="load" file="$(find vacumm_navigation)/config3/ekf_localization.yaml"/>
    </node>


    <include file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="publish_tf" default="false"/>
    </include>


    <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
        <remap from="cloud_in" to="/camera/depth/points" />
        <remap from="scan" to="/camera/scan" />
        <param name="target_frame" type="str" value="camera_link"/>
    </node>
    
    <node name="ros_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value="115200"/>
    </node>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <remap from="/imu/data_raw" to="/vacumm/imu"/>
        <param name="fixed_frame" value="base_footprint" />
        <param name="use_mag" value="false" />
        <param name="publish_tf" value="true" />
        <param name="use_magnetic_field_msg" value="false" /> 
        <param name="world_frame" value="enu" />
    </node>

</launch>
